@page
@model RoadSignCapture.Web.Pages.Sign.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sign</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.SignIdNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.SignIdNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.SignType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.SignType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.SARTSMCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.SARTSMCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.RouteName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.RouteName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.NodeNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.NodeNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.Action)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.Action)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.WidthMm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.WidthMm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.HeightMm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.HeightMm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.AreaM2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.AreaM2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.NumPoles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.NumPoles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.PoleDiameter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.PoleDiameter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.PoleLengthMm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.PoleLengthMm)
        </dd>
       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.ExcavationDepthCubicM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.ExcavationDepthCubicM)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.SupportType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.SupportType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.Latitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.Latitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.Longitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.Longitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.OffsetDistanceM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.OffsetDistanceM)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.InstallationStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.InstallationStatus)
        </dd>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.CreatedByUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.CreatedByUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.Project.ProjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sign.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sign.Client.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sign.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
